.img_size{
    width: 8rem;
    height: 6rem;
}

.white{
    color: white;
}

.list_grid{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    align-content: space-around;
}

.team_header{
    color: white;
    text-align: center;
    word-break: break-all;
    align-content: center;
}

.display_team_box{
    color: white;
    padding: 0.5rem;
    background-color: gray;
    border-radius: 1rem;
    text-align: center;
    width: 19rem;
    height: max-content;
    margin-bottom: 1rem;
}

.display_box{
    padding: 0.5rem;
    background-color: gray;
    border-radius: 1rem;
    text-align: center;
    width: 19rem;
    height: 12rem;
    margin-bottom: 1rem;
}

a:link{
    text-decoration: none;
}

.display_box:hover{
    background-color: rgb(68, 68, 68);
}

.bold{
    font-weight:bolder;
}

.font_normal{
    font-weight: normal;
}

.type_box{
    color: white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 1.5rem; 
    padding: 0.2rem;
    border-radius: 0.5rem;
    max-width: fit-content;
}

.flex_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    gap: 5px;
}

.flex_column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: fit-content;
    gap: 5px;
}

.center{
    text-align: center;
}  

input[type="submit" i] {
    cursor: pointer;
}

.button{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    align-content: center;
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    background: rgb(81, 81, 81);
    border-radius: 0.5rem;
    color: white;
    padding: 0.2rem;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.button:hover{
    background: rgb(50,50,50);
}

.legendary_text{
    font-size: 6rem;
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}